<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Diapro</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/floating-wpp.min.css')}}" media="screen,projection">
  <!-- End Css -->

</head>
<body>
  
  <!-- Facebook Plugin -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

  <a name="top"></a>

  <!-- navigation bar -->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><b>DIAPRO</b></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#sec1"><b>About</b></a></li>
        <li><a href="/why"><b>Why Diapro?</b></a></li>
        <li><a href="/product"><b>Products</b></a></li>
        <li><a href="#social"><b>Social</b></a></li>
        <li><a href="#contact"><b>Contact</b></a></li>
      </ul>
    </div>
  </nav>

  <!-- sde nav on smaller screens -->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#sec1"><b>About</b></a></li>
    <li><a href="/why"><b>Why Diapro?</b></a></li>
    <li><a href="/product"><b>Products</b></a></li>
    <li><a href="#social"><b>Social</b></a></li>
    <li><a href="#contact"><b>Contact Us</b></a></li>
  </ul>

  <section class="navsec">

  </section>

  <section id="sec1" class="aboutsec parallax-container section scrollspy">

    <div class="parallax"><img src="../static/img/logo.jpeg"></div>

    <h2 class="white-text center"><b>ABOUT</b></h2>

    <div class="container white-text center">
      <p>
        As a diabetic, you must have heard about what happens if you don’t take care of your feet, and naturally we and you don’t want that to happen to you.
        What is the difference between a diabetic shoe and one from a normal shoe-store? What makes a diabetic shoe more preferential over any store-bought style of footwear?
      </p>
    </div>

    <h3 class="center white-text"><span class="red-text"><b>DIAPRO</b></span> is the leading manufacturer and distributor of customized diabetic footwear and pain relieving footwear.</h3>

    <div class="container white-text center">
      <p>
        Diapro was started with the intention of providing reliable and effective shoes that offset many of the complications associated with Diabetic Patients. Our shoes provide a level of comfort and support that is unheard of and rarely seen amongst our competitors.
        Our “DIAPRO® Diabetic Footwear” is patient friendly, clinically accepted, time tested and conforms to all safety and medical standards, along with “certifications”.<br>
        <span class="red-text"><a style="color: inherit;" href="/why"><b>READ MORE</b></a></span>
      </p>
    </div>
  </section>

  <section id="social" class="section scrollspy">
    <h2 class="center"><b>SOCIAL</b></h2>

    <div class="row">

      <div class="col s12 m6 l6 center">
        <div class="fb-page" data-href="https://www.facebook.com/diaprodr/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/diaprodr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/diaprodr/">DIAPRO-Diabetic Sandals &amp; Shoes</a></blockquote></div>
      </div>

      <div class="col s12 m6 l6 center">
        <a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/diapro_dr?ref_src=twsrc%5Etfw">Tweets by diapro_dr</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>
  </section>

  <section id="contact" class="section scrollspy">
    <h2 class="center"><b>CONTACT US</b></h2>

    <div class="row">

      <div class="col s12 m8 l8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14739.414877469597!2d88.3705419!3d22.5471518!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c5030234c7f520a!2sDiapro!5e0!3m2!1sen!2sin!4v1581019125262!5m2!1sen!2sin" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>

      <div class="col s12 m4 l4 left" style="max-height: 600px;">
        <p style="font-size: large; margin-top: 50%; margin-bottom: 50%;">
          <b>ADDRESS</b> <br> 
          9, Dr. Sundari Mohan Avenue. <br>
          Beside Calcutta National Medical College <br>
          Kolkata - 700 014, West Bengal <br> <br>
          <b>PHONE NUMBER - </b>9831077320 <br><br>
          <b>EMAIL ID - </b>diapros_dr@yahoo.com</p>
      </div>

    </div>

  </section>

  <div id="WAButton">

  </div>

  <footer>
    <div class="container white-text">
      <b>© 2020 DIAPRO</b>
      <a class="white-text text-lighten-4 right" href="#top">TOP^</a>
    </div>
  </footer>

  <!-- Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/floating-wpp.min.js"></script>
  <script src="https://kit.fontawesome.com/d9f7d83514.js" crossorigin="anonymous"></script>
  <!-- End Scripts -->


</body>
</html>
