<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Diapro</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
  <!-- End Css -->

</head>
<body>
  
  


  <!-- Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="https://kit.fontawesome.com/d9f7d83514.js" crossorigin="anonymous"></script>
  <!-- End Scripts -->


</body>
</html>
