<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Diapro</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/floating-wpp.min.css')}}" media="screen,projection">
  <!-- End Css -->

</head>
<body>
  
  <a name="top"></a>

  <!-- navigation bar -->
  <nav style="background: white">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><b>DIAPRO</b></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><b>Home</b></a></li>
        <li><a href="/#sec1"><b>About</b></a></li>
        <li><a href="/why"><b>Why Diapro?</b></a></li>
        <li><a href="/#social"><b>Social</b></a></li>
        <li><a href="/#contact"><b>Contact</b></a></li>
      </ul>
    </div>
  </nav>

  <!-- side nav on smaller screens -->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/#sec1"><b>About</b></a></li>
    <li><a href="/why"><b>Why Diapro?</b></a></li>
    <li><a href="/#social"><b>Social</b></a></li>
    <li><a href="/#contact"><b>Contact</b></a></li>
  </ul>

  <section id="sec2" style="min-height: 100vh; margin-top: 70px;">
    <h2 class="center black-text" style="padding: 10px 10px;"><b>PRODUCTS </b></h2>

    <div class="prod">
        <div class="row">
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/1.jpg" data-caption="DIAFLEX MEN"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/2.jpg" data-caption="DIAGO 1"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/3.jpg" data-caption="DIAKOOL CREAM"></div>
            <div class="col s12 m3 l3 card-panel"> <img class="materialboxed productimg" src="static/img/4.jpg" data-caption="DIAKOOL CREAM"></div>
            
        </div>

        <div class="row">
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/5.jpg" data-caption="DIAKOOL OYSTER BROWN"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/6.jpg" data-caption="DIALITE"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/7.jpg" data-caption="DIALITE"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/8.jpg" data-caption="DIALITE"></div>
            
        </div>

        <div class="row">
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/9.jpg" data-caption="DIASHOE BROAD"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/10.jpg" data-caption="DIASHOE BROAD"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/11.jpg" data-caption="DIASHOE SLEEK"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/12.jpg" data-caption="DIASOFT"></div>
            
        </div>

        <div class="row">
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/13.jpg" data-caption="INSOLE FOR CALCANEAL SPUR"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/14.jpg" data-caption="INSOLE FOR FLAT/ARCH FOOT"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/15.jpg" data-caption="LDSB"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/16.jpg" data-caption="LDSB"></div>
            
        </div>

        <div class="row">
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/17.jpg" data-caption="LDSB"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/18.jpg" data-caption="MDS"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/19.jpg" data-caption="MDS"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/20.jpg" data-caption="MSS"></div>
            
        </div>

        <div class="row">
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/21.jpg" data-caption="MSS"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/22.jpg" data-caption="PROLINE G"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/23.jpg" data-caption="PROLINE G"></div>
            <div class="col s12 m3 l3 card-panel"><img class="materialboxed productimg" src="static/img/24.jpg" data-caption="PROLINE L"></div>
            
        </div>
    </div>

    
  </section>

  <div id="WAButton">

  </div>

  <footer>
    <div class="container white-text">
      <b>© 2020 DIAPRO</b>
      <a class="white-text text-lighten-4 right" href="#top">TOP^</a>
    </div>
  </footer>

  <!-- Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/product.js"></script>
  <script src="static/js/floating-wpp.min.js"></script>
  <script src="https://kit.fontawesome.com/d9f7d83514.js" crossorigin="anonymous"></script>
  <!-- End Scripts -->

</body>
</html>
